@import url('https://fonts.googleapis.com/css2?family=Judson&family=Lexend+Deca&family=Montserrat&family=Rammetto+One&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Lexend+Deca:wght@300&display=swap');

.ahome {
    display: grid;
    justify-content: center;
    align-items: center;
    background:url( 'TCE_BLUR.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.para {
    color: #FFF9DF;
    font-family: Rammetto One;
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.task-table {
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    background: #FFF9DF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 52vw;
    height: 50vh;
    margin-bottom: 4vw;
    padding: 1vw;
}

.piechartdiv{
    width: 200px;
    position: absolute;
    top: 140px;
    right: 50px;
}

.base-item {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.feedback {
    display: grid;
}

.table_content {
    cursor: pointer;
}

.scroll {
    width: 200px;
    height: 210px;
    overflow: auto;
    /* border: 1px solid #000000; */
}

.table-head {
    color: #640000;
    font-family: Alatsi;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}

.v1 {
    border-left: 2px solid #640000;;
    height: 50vh;
}

.feedback-input {
    border-radius: 12px;
    border: 0.5px solid #640000;
    background: #FFF9DF;
    padding: 20px;
}

.send-button {
    margin: 2vw 9vh 1vw 9vh;
    padding: 1vh;
    font-size: 10px;
    border: none;
    border-radius: 20px;
    color: #640000;
    background-color: #FFF9DF;
    cursor: pointer;
    border: solid 1px #640000;
}

.update-button {
    padding: 10px 25px 10px 25px;
    margin-left: 20px;
    border: none;
    font-size: 20px;
    font-family: 'Alatsi';
    color: #640000;
    background: #FFF9DF;
    border-radius: 40px;
    cursor: pointer;
}

.update-button:hover {
    background-color: #640000;
    color: #FFF9DF;
    transition: 0.4s;
}

.update-button:active {
    color: #640000;
    background: #FFF9DF;
}

.send-button:hover {
    background-color: #640000;
    color: #FFF9DF;
}

.send-button:active {
    color: #640000;
    background-color: #FFF9DF;
}
.popUp-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 2rem;
    width: 100%;
    max-width: 55vw;
    max-height: 81vh;
    background: #FFF9DF;
    border-radius: 7px;
    overflow: auto;
}

.popup-inner .close-btn {
    position: absolute;
    top: 0;
    right: 30px;
    cursor: pointer;
    font-size: xx-large;
    font-family: Arial;
    color: #640000;;
}

.popup-head {
    color: #640000;
    font-family: Lexend Deca;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 47.5px; /* 110.465% */
}

.popup-details1 {
    color: #640000;
    font-family: Lexend Deca;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.popup-info {
    display: flex;
    justify-content: space-around;
}

.popup-piechart {
    padding-left: 20px;
}

.coordinator-buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 10vw;
    margin-bottom: 30px;
}

.coo-button {
    border-radius: 10px;
    background: #FFF9DF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
    padding: 1vw 4vw 1vw 4vw;
    border: none;
    cursor: pointer;
    color: #640000;
    margin-left: 30px;
}

.coo-button:hover {
    background: #640000;
    color: #FFF9DF;
}

.coo-button:active {
    background-color: #FFF9DF;
    color: #640000;
}

/* ::-webkit-scrollbar {
    width: 0.5em;
    background-color: #000;
} */

.line {
    padding: 1px;
    background-color: black;
    border: none;
}

.code-div {
    display: flex;
    align-items: center;
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #FFF9DF;
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #640000 transparent #640000 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}