.ahome1 {
    display: grid;
    align-items: center;
    background:url( 'TCE_BLUR.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 25px;
}

.head-div {
    display: flex;
    justify-content: center;
}

.container-div {
    display: flex;
    justify-content: space-around;
}

.active-div {
    background-color: #FDE8C5;
    width: 650px;
    height: 535px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px;
    border-radius: 50px
}

.active-inner-div {
    background-color: white;
    padding: 20px;
    width: 530px;
    border: 5px solid #640000;
    border-radius: 20px;
}

.active-title-h2 {
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.work-container-div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.Active-head-div {
    display: flex;
    column-gap: 25px;
    margin-bottom: 10px;
}

.create-work-div {
    background-color: #FDE8C5;
    width: 300px;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 50px;
}

.create-img-div {
    width: 60%;
}

.work-div {
    background-color: #FDE8C5;
    width: 300px;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
}

.work-img-div {
    width: 70%;
}

.view-all-btn {
    background-color: #640000;
    color: #FDE8C5;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
}

.view-all-btn:hover {
    background-color: #FDE8C5;
    color: #640000;
    border: 1px solid #640000;
    transition: 0.15s;
}

.view-all-btn:active {
    background-color: #640000;
    color: #FDE8C5;
    transition: 0.15s;
}

.title-div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #640000;
}

.workers-table {
 width: 100%;
 border-collapse: collapse;
 font-family: Arial, sans-serif;
 margin-top: 20px;
}

.workers-table th, .workers-table td {
 border: 1px solid #ddd;
 padding: 10px;
 text-align: left;
}

.workers-table th {
 background-color: #4CAF50;
 color: white;
}

.workers-table tr {
 background-color: #f2f2f2;
}

.workers-table tr:hover {
 background-color: #ddd;
}

.workers-table a {
 color: #4CAF50;
 text-decoration: none;
}

.workers-table button {
 background-color: #4CAF50;
 color: white;
 padding: 10px 20px;
 border: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 transition-duration: 0.4s;
 border-radius: 12px;
}

.workers-table button:hover {
 background-color: white;
 color: black;
 border: 2px solid #4CAF50;
}

