@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Lexend+Deca:wght@300&family=Montserrat:wght@100;400&display=swap');

.ahome1 {
    display: grid;
    align-items: center;
    background:url( 'TCE_BLUR.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px;
    padding-right: 0;
}

.head-div {
    display: flex;
    justify-content: center;
}

.container-div {
    display: flex;
    column-gap: 4vw;
}

.active-div {
    background-color: #FDE8C5;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px;
    border-radius: 50px;
    border: 2px solid #640000;
}

.active-inner-div {
    background-color: white;
    padding: 6px;
    width: 420px;
    border: 5px solid #640000;
    border-radius: 20px;
    padding-bottom: 0;
}

.active-title-h2 {
    width: 200px;
    font-family: Montserrat;
    font-size: 20px;
    margin: 0;
    max-width: 140px;
}

.work-container-div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.Active-head-div {
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin: 3px;
    margin-bottom: 10px;
}

.create-work-div {
    background-color: #FDE8C5;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 50px;
    border: 2px solid #640000;
}

.create-img-div {
    width: 60%;
}

.work-div {
    background-color: #FDE8C5;
    width: 300px;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #640000;
}

.work-img-div {
    width: 70%;
}

.view-all-btn {
    background-color: #640000;
    color: #FDE8C5;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
}

.view-all-btn:hover {
    background-color: #FDE8C5;
    color: #640000;
    border: 1px solid #640000;
    transition: 0.15s;
}

.view-all-btn:active {
    background-color: #640000;
    color: #FDE8C5;
    transition: 0.15s;
}

.title-div {
    font-family: Montserrat;
    font-size: 2rem;
    color: #640000;
}

.date-div {
    color: white;
    border: 3px solid white;
    box-shadow: 1px 1px 5px #443737;
    background: black;
    border-radius: 7px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.manage-agencie-div {
    display: flex;
    align-items: center;
    background-color: #FDE8C5;
    font-family: Montserrat;
    font-size: 30px;
    border-radius: 30px 0 0 30px;
    margin-top: 20px;
    border: 2px solid #640000;
}

.mange-agen-sym-p {
    margin: 0;
    font-size: 90px;
    color: #ffc107;
    margin-left: 10px;
    cursor: pointer;
}

.mang-agen-p {
    margin: 0;
    margin-left: 15px;
    color: #640000;
}

.piechart-div {
    width: 250px;
    background-color: #FDE8C5;
    padding: 20px;
    border-radius: 45px;
    border: 2px solid #640000;
}

.piechart-lable-div {
    display: flex;
}

.piechart-colour-info-active {
    background-color: #640000;
    padding: 10px;
    margin: 10px;
    border: none;
}

.piechart-colour-char-active {
    margin: 6px;
    color: #640000;
    border: none;
}

.piechart-colour-info-completed {
    background-color: #7cd57c;
    padding: 10px;
    margin: 10px;
    border: none;
}

.title-div1 {
    font-family: Montserrat;
    font-size: 25px;
    color: #640000;
}

.verfication-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.datepickerhead-h3 {
    color: #640000;
    font-family: Alatsi;
    font-size: 35px;
    font-style: normal;
    margin: 0;
}

.slide-pane__content{
    background-color: #ffffff;
}
/* .custom-overlay{

} */

.code-head-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-div {
    display: flex;
    align-items: center;
    row-gap: 15px;
}

.notification-inner {
    padding: 1rem;
    width: 100%;
    max-width: 55vw;
    max-height: 50vh;
    background: #FFF9DF;
    border-radius: 7px;
    margin-top: 15px;
    overflow-y: auto;
}

.workers-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Montserrat;
    margin-top: 15px;
}

.workers-table th, .workers-table td {
    border: 1px solid #640000;
    padding: 10px;
    text-align: left;
}

.workers-table th {
    color: #640000;
    font-size: 15px;
}

.workers-table tr {
    background-color: #f2f2f2;
}

.workers-table tr:hover {
    background-color: #ddd;
}

.workers-table a {
    color: #640000;
    text-decoration: underline;
}

.workers-table button {
    background-color: #640000;
    color: white;
    padding: 5px 10px;
    border: 1px solid;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 20px;
    cursor: pointer;
}

.workers-table button:hover {
    background-color: #FDE8C5;
    border: 1px solid #640000;
    transition: 0.15s;
    color: #640000;
}

.workers-table button:active {
    background-color: #640000;
    color: white;
}

