@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Lexend+Deca:wght@300&display=swap');

.datepickerwrapper {
    margin-bottom: 2vw;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.custom-datepicker {
    color: #640000;
    font-family: Alatsi;
    font-size: 20px;
    font-style: normal;
    padding: 5px;
    border: 1px solid #640000;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FFF9DF;
    cursor: pointer;
}

.datepickerhead {
    color: #FFF9DF;
    font-family: Alatsi;
    font-size: 25px;
    font-style: normal;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.table-head {
    color: #640000;
    font-family: Alatsi;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtask-div {
    padding-left: 3.1vw;
}

.subtask-table {
    background-color: white;
    border-radius: 20px;
    padding: 1px;
    max-height: 20vh;
    overflow: auto;
}

.advance-input {
    padding: 10px;
    margin-right: 20px;
    border: none;
    border-radius: 6px;
}

.advance-date-input {
    padding: 10px;
    border: 1px solid #640000;
    background: #FFF9DF;
    margin-right: 20px;
    border-radius: 20px;
}

.advance-submit-bitton {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #640000;
    color: #fff;
    cursor: pointer;
}

.advance-submit-bitton:hover {
    background-color: #5a2d2d;
    transition: 0.7s;
}

.advance-submit-bitton:active {
    background-color: #640000d3;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: #FFF9DF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.sub-star {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star {
    margin-right: 20px;
}

.print-button {
    width: 45px;
    background-color: #FFF9DF;
    border: none;
    cursor: pointer;
    margin: 20px;
}